body {
	font-family: Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
	padding: 20px;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

pre {
	max-height: 300px;
	font-size: 85%;
	margin-bottom: 3em !important;
}

.IN-widget {
	margin: 0 auto;
	padding: 10px;
}

.download {
	padding: 10px 30px;
	background-color: #82b440;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	margin: 0 auto;
	border: 0;
	cursor: pointer;
}

.download:hover {
	background-color: #7aa93c;
}