main {
  padding-bottom: 1rem;
}

.download {
  margin: 1rem auto;
}

#filedrag {
  border: 5px dashed #C4CDF0;
  border-radius: 7px;
  cursor: default;
  color: #333;
  background-color: #F1F1F4;
  font-size: 120%;
  padding: 2em;
  margin: 0 1em;
}

#filedrag.hover {
  color: #333;
  background-color: #fff;
}

#fileselect {
  display: none;
}

#result {
  display: none;
}

.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.about > .media {
  margin-top: 10px;
}

.media .img {
  float: left;
}

.about .avatar-image {
  border-radius: 100%;
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

.about .name {
  font-weight: bold;
  font-size: 110%;
  margin-top: 5px;
  margin-bottom: 2px;
}

.twitter {
  margin-bottom: 3px;
}

footer {
  border-top: 1px solid rgba(0,0,0,0.15);
  padding: 1em;
}

footer h3 {
  color: rgba(0,0,0,0.3);
  text-transform: uppercase;
  font-size: 80%;
  margin-bottom: 0.5em;
}

pre {
  font-size: 0.8rem !important;
}