.container-size {
  width: 80%;
}

#fileselect,
#result {
  display: none;
}

#select-file:hover {
  background-color: rgba(0, 116, 217, 0.9);
}

.instructions {
  background-color: #f1f1f1;
}

.moving-border {
  background: linear-gradient(90deg, white 50%, transparent 50%) repeat-x,
    linear-gradient(90deg, white 50%, transparent 50%) repeat-x,
    linear-gradient(0deg, white 50%, transparent 50%) repeat-y,
    linear-gradient(0deg, white 50%, transparent 50%) repeat-y;
  background-position: left top, right bottom, left bottom, right top;
  background-size: 1rem 0.1rem, 1rem 0.1rem, 0.1rem 1rem, 0.1rem 1rem;
  cursor: pointer;
}

.moving-border:hover {
  animation: move-border 1s infinite linear;
}

@keyframes move-border {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }

  100% {
    background-position: left 1rem top, right 1rem bottom, left bottom 1rem,
      right top 1rem;
  }
}

#result {
  position: relative;
}

#result #buttons {
  position: sticky;
  top: 1rem;
}

#result #buttons .button {
  font-size: 0.8rem;
  text-shadow: 0 1px 0 black;
}

.avatar-image {
  border-radius: 0.5rem;
  height: 30px;
  margin-right: 10px;
  width: 30px;
}

@media (max-width: 832px) {
  .container-size {
    width: 90%;
  }

  ol {
    padding-left: 1rem;
  }
}